@using EntityLayer.Concrete
@model List<NewsLetter>

    <div class="tech-btm">
							<h4>Abone Olmak İster Misiniz?</h4>
							<p>Diğer bültenlerimizden yararlanabilmek için abone olun... </p>
							<form  method="post">
								<input type="email" placeholder="Email" required="" name="Mail">
								<input type="submit" value="Subscribe">
							</form>
							</div>
