
<div class="row">
            <div class="col-lg-6">
<div class="widget navy-bg no-padding">
                    <div class="p-m">
                        @*<h2 class="m-xs">Dashboard</h2>*@

                        <h2 class="font-bold no-margins">
                            ASP.NET CORE 5.0
                        </h2>
                        <br />
                        <small>Admin; Yönetim, idare gibi anlamlara gelmektedir. İngilizce bir kelimedir ve "administrator" kelimesinin kısaltılmıştır. Çoğunlukla "Yönetici" anlamındada kullanılmaktadır.
                        </small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget lazur-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">Son Eklenen Blog</h1>

                        <h3 class="font-bold no-margins">
                            @ViewBag.lastBlogName
                        </h3>
                        <small>Yazar: @ViewBag.Writer</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget yellw-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">₺ 2650,56</h1>
                          <h3 class="font-bold no-margins">
                            Blog Site Kazancı
                        </h3>
                        <small>Ürün Tanıtımları, Promosyonlar.</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart3"></div>
                    </div>
                </div>
            </div>
        </div>